.product-container {
    background-color: rgb(238, 234, 227);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center; 
    max-width: 100%;
    min-height: auto;
}

.product-container h1 {
    text-align: left;
    margin-bottom: 5px;
    color: #333;
    font-size: 25px;
    font-weight: bold;
  }
  .product-container img {
    width: 40%; /* Set width to 40% of the container */
    height: 50%; 
    border-radius: 10px;
    margin-right: 20px;
    object-fit: cover;
  }
  .product-details {
    flex: 1; 
  }
  .product-details p {
    margin-bottom: 10px;
    color: #555;
  }

  .product-container label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-size: 14px;
  }

  .product-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }

  .product-container button {
    /* width: 100%; */
    display: inline-block;
    padding: 5px 10px;
    background-color: #3b82f6;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  .product-container button:hover {
    background-color: #6a11cb;
  }
  .product-container h3 {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(208, 184, 184);
    display: inline-block;
    margin-right: 15px;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    
  } 


  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .modal-content button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }
  
  