.price-container {
    display: flex;
    flex-wrap: nowrap; 
    gap: 20px; 
    /* justify-content: center;  */
    /* margin-top: 30px; */
    padding: 20px;
    align-items: center;
    text-align: center;
    width: 100%;
}

.price-container h1 {
    text-align: center;
    margin-left: 330px; 
    /* margin-bottom: 5px; */
    /* margin-top: 15px; */
    color: #333;
    background-color: rgb(208, 184, 184);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
  }

.price-container h2 {
    text-align: center;
    /* margin-bottom: 5px; */
    /* margin-top: 15px; */
    margin-left: 245px;
    font-size: 25px;
    font-weight: bold;
  }

  .price-container h3 {
    text-align: center;
    /* margin-bottom: 5px; */
    /* margin-top: 15px; */
    margin-left: 354px;
    font-size: 25px;
    font-weight: bold;
  }

  .button-container {
    display: flex;
    flex-wrap: nowrap; 
    gap: 20px; 
    justify-content: center; 
    margin-top: 30px;
    padding: 20px;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .price-container button {
    /* width: 100%; */
    display: inline-block;
    padding: 5px 10px;
    background-color: #3b82f6;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  .modal-content {
    position: fixed;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px; /* or try width: 50%; */
    height: auto;
    text-align: center;
    
}

  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 100;
    text-align: center;
  }
  
  .modal-content button {
    margin: 10px;
    /* margin-top: 3px; */
    padding: 8px 12px;
    background-color: #3b82f6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }

  .modal-content button:hover {
    background-color: green;
  }

  .modal-content img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; 
  }